body{
    background-color:  rgb(244, 159, 159);
    color: rgb(102, 80, 80);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
}
.item{
    flex-grow: 1;
    margin: 35px 40px;
    text-align: center;
}
.item img{
    width: 75%;
}

button{
    background-color: rgb(204, 159, 159);
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    border: none;
}

@media screen and (max-width:480px){
    #result{margin: 0;}
    .item img{
        width: 100%;
    }
}